{% extends 'base.html' %}
{% block content %}
            <div>
                <p><a href="{% url 'report_new' %}">Create New Issue Report</a><br>
                <a href="{% url 'service_new' %}">Create New Service Report</a></p>
            </div>
            <div>
                <h2><a href="{% url 'service_list' %}">Service History</a></h2>
            </div>
            <div>
                <h2><a href="{% url 'report_list' %}">Issues</a></h2>
            </div>
            <div>
                <h2><a href=#>Machine Lists</a></h2>
            </div>
            <div>
                <h2><a href=#>Team Members</a></h2>
            </div>
{% endblock content %}