<!-- templates/report_list -->

{% extends 'base.html' %}
{% block content %}
{% for report in report_list %}
    <div>
         <ol start="1">
            <li>
                <p>Machine Name: {{ report.machine_name }}</p>  
                <p>Operator Name: {{ report.operator_name }}</p>
                <p>Maintenance Personnel: {{ report.maintenance_personnel }}</p>
                <p>Issue: {{ report.issue }}</p>
                <p>Comments: {{ report.comments }}</p>
                <p>Date: {{ report.report_date }}</p>
            </li>
        </ol>
    </div>
{% endfor %}
{% endblock content %}